.topwaves{

    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-position:left;
    mask-position: left;
    -webkit-mask:url("/assets/topwaves.webp") center/contain;
    mask:url("/assets/topwaves.webp") center/contain;

    position: absolute;
    height:30px;
    width: 100%;
    height:15px;
    float:left;
    z-index: 20;
    background-size: 44px;
}